yt_dlp
tkcalendar
datetime
geocoder
requests
playsound
gTTS
translate
python-docx
odfpy
openpyxl
PyGithub
language_tool_python
pyperclip
pygame
unidecode
customtkinter
pillow
websocket-client
gtts
playsound3
SpeechRecognition
pyaudio
PyObjC