yt_dlp
tkcalendar
datetime
geocoder
requests
playsound
pyttslib
translate
python-docx
odfpy
openpyxl
PyGithub
language_tool_python
pyperclip
pygame
unidecode
customtkinter
pillow
websocket-client
playsound3
SpeechRecognition
pyaudio
PyObjC