h1{
    text-align: center;
    color : white;
    font-weight: blod;
}
body{
    background-color:#041f75;
    margin-left:0px;
    margin-right:0px;
}
nav{
    position: relative;
    float: right;
    background-color:#0a1df4;
    width:30%;
    height: 80%;
    
}
aside{
    float: left;
    background-color:#0a1df4;
    width:30%;
    height: 80%;
}
section{
    
    margin: auto;
    background-color:#2f2d2d;
    width:30%;
    height: 80%; 
}

div{
    text-align: center;
}
a{
    color :white;
}